<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<div class="card mt-5 rounded-4" style="width: 25rem;">
 <div class="card-body">
  <h2 class="card-title">Edit <%= resource_name.to_s.humanize %></h2>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-3">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", id:"formGroupExampleInput", placeholder:"email"%>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="mb-3">
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"leave blank if you don't want to change it"%>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="mb-3">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"Confirm the Password"%>
  </div>

  <div class="mb-3">
    <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control", placeholder:"we need your current password to confirm your changes"%>
  </div>

  <div class="actions">
    <%= f.submit "Update", class:"btn btn-primary " %>
  </div>
</div>
<% end %>

<h3>Cancel my account</h3>
<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger mb-3" %>
<%= link_to '&lt;'.html_safe, :back , class:'not-decoration fs-2 mb-3'%>
