<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<div class="card mt-5 rounded-4" style="width: 25rem;">
  <%= render "devise/shared/error_messages", resource: resource %>
<div class="card-body">
  <h5 class="card-title">Sign up</h5>
  <div class="mb-3">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", id:"formGroupExampleInput", placeholder:"email"%>
  </div>

  <div class="mb-3">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"New Password"%>
  </div>

  <div class="mb-3">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"Confirm the Password"%>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class:"btn btn-primary" %>
  </div>
</div>

<% end %>

<%= render "devise/shared/links" %>
