<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
<div class="card mt-5 rounded-4" style="width: 25rem;">
  <div class="card-body">
    <h2 class="card-title">Forgot your password?</h2>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb3">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", id:"formGroupExampleInput", placeholder:"email"%>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions", class:'btn btn-primary mt-3' %>
      </div>
    <% end %>
  </div>
  <%= render "devise/shared/links" %>
</div>