<div class="modal fade" id="edit-reservation-modal-<%= reservation.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-secondary reservation-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with(model: reservation , method: :patch, local: true) do %> 
            <p class="text-center text-secondary">Time: <%= "#{reservation.hour}" %>:00 </p>
            <p class="text-center text-secondary" >Date: <span id="data-form"></span><%= "/#{Date.today.month}/#{Date.today.year}" %> </p>
            <div class=" text-secondary">
              <%= hidden_field_tag "reservation[day]", @reservation.day, id: "date-input"%>
              <%= hidden_field_tag "reservation[hour]", @reservation.hour ,id: "time-input"%>
              <%= label_tag "reservation[description]", "Description: ", class: "col-form-label fs-2" %>
              <%= text_area_tag "reservation[description]", @reservation.description, class: "form-control", id:'text-area', placeholder: "#{reservation.description}" %>
            </div>
      </div>
      <div class="modal-footer">
        <%= submit_tag 'Update', class: "btn btn-outline-primary" %> 
      </div>
          <% end %>
    </div>
  </div>
</div>
