<div class="container mt-3">
  <h1 class="mb-3">Reservations Room:</h1>
  <table class = "table table-primary table-striped">
    <thead>
      <tr>
        <th scope="col" class="text-center">Time</th>
        <th scope="col" class="text-center">Monday</th>
        <th scope="col" class="text-center">Tuesday</th>
        <th scope="col" class="text-center">Wednesday</th>
        <th scope="col" class="text-center">Thursday</th>
        <th scope="col" class="text-center">Friday</th>
      </tr>
    </thead>

    <tbody>
      <% (6..23).to_a.each do |time| %>
        <tr>
          <th scope="row"><%= "#{time}:00" %></th>
          <% @days.each do |day| %>
            <td class="text-center">
              <% if @reservations_hash[day][time] %>
                    <a href="" class="fs-6 not-decoration callModalEdit" data-bs-toggle="modal" data-bs-target="#edit-reservation-modal-<%= @reservations_hash[day][time].id %>" data-date="<%= day %>" data-time="<%= time %>">
                      <%= "#{@reservations_hash[day][time].user.email}" %> 
                    </a>
                  <% if policy(@reservations_hash[day][time]).update? %>
                    <%= link_to '&olarr;'.html_safe, reservation_path(@reservations_hash[day][time]), method: :delete, remote: true, data: {confirm: 'Do you want to delete the reservation?'}, class:'font-size-entity not-decoration'%>
                    <%= render 'form', reservation: @reservations_hash[day][time] %> 
                  <% end %>
              <% else %> 
                <% if user_signed_in? %>
                    <a href="" class="callModal link-secondary " data-bs-toggle="modal" data-bs-target="#exampleModal" data-date="<%= day %>" data-time="<%= time %>">
                    Avaliable
                    </a>
                  <% else %>
                  <%= link_to '&minus;'.html_safe , new_user_session_path, class:'not-decoration'%>
                <% end %>
              <% end %>  
            </td>
          <% end %>  
        </tr>
      <% end %> 
    </tbody>
  </table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title reservation-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <%= form_with(model: @reservation, url: reservations_path, method: :post, remote: true) do %> 
            <p class="text-center text-secondary">Time: <span id="reservation-time"></span>:00 </p>
            <p class="text-center text-secondary">Date: <span id="reservation-date"></span>/<%= "#{Date.today.month}/#{Date.today.year}" %> </p>
            <div class="form-group text-secondary">
              <%= hidden_field_tag "reservation[day]", @reservation.day, id: "date-input", value: 0 %>
              <%= hidden_field_tag "reservation[hour]", @reservation.hour ,id: "time-input", value: 0 %>
              <%= label_tag "reservation[description]", "Description: ", class: "col-form-label fs-2 " %>
              <%= text_area_tag "reservation[description]", @reservation.description, class: "form-control" %>
            </div>
      </div>
      <div class="modal-footer">
        <%= submit_tag "Reserve", class: "btn btn-outline-primary" %>
      </div>
          <% end %>
    </div>
  </div>
</div>

</div>
