<div class="container">
  <h1>Reservations Room</h1>
  <table class = "table table-striped">
    <thead>
      <tr>
        <th scope="col">Time</th>
        <th scope="col">Monday</th>
        <th scope="col">Tuesday</th>
        <th scope="col">Wednesday</th>
        <th scope="col">Thursday</th>
        <th scope="col">Friday</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% (6..23).to_a.each do |time| %>
        <tr>
          <th scope="row"><%= "#{time}:00" %></th>
          <% @days.each do |day| %>
            <td>
              <% if @reservations_hash[day][time] %>
                <%= "Reservado p/ #{@reservations_hash[day][time].user.name}" %>
                  <% if policy(@reservations_hash[day][time]).update? %>
                  <a href="#" class="" data-toggle="modal" data-target="#edit-booking-modal-<%= @reservations_hash[day][time].id %>" data-date="<%= day %>" data-time="<%= time %>">Editar |</a> 
                  <%= link_to 'Deletar', booking_path(@reservations_hash[day][time]), method: :delete, remote: true, data: {confirm: 'Deseja deletar a reserva?'} %>
                  <%= render 'form', booking: @reservations_hash[day][time] %>
                  <% end %>
              <% else %> 
                  <a href="#" class="" data-toggle="modal" data-target="#exampleModal" data-date="<%= day %>" data-time="<%= time %>">Disponível</a>
              <% end %>
            </td>
          <% end %>  
        </tr>
      <% end %> 
    </tbody>
  </table>

  
</div>
