<p>
  <strong>Description:</strong>
  <%= @reservation.description %>
</p>

<p>
  <strong>Hour:</strong>
  <%= @reservation.hour %>
</p>

<p>
  <strong>Day:</strong>
  <%= @reservation.day %>
</p>

<p>
  <strong>Week:</strong>
  <%= @reservation.week %>
</p>

<p>
  <strong>Month:</strong>
  <%= @reservation.month %>
</p>

<p>
  <strong>Year:</strong>
  <%= @reservation.year %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation)  %> |
<%= link_to 'Back', reservations_path %>
